body {
  font-size: 15pt;
}

.output {
  display: none;
  margin-top: 20px;
  margin-left: 25%;
  font-weight: bold;
}
.jumbotron {
  text-align: center;
  background-color: #491928;
  color: white;
}
input#number {
  width: 30%;
}
.container #userInput{
  margin-left: 25%;
}
.romanNumeral {
  font-size: 20pt;
}

footer {
  font-size: 1em;
  color: #bcb7b8;
  margin: 200px 0 20px;
  padding: 20px 50px;
}
 footer li {
   display: inline;
   margin: 0 80px;
 }
